
        .electricity{
            margin: 94px auto;
        }
        
        .electricity-paragraf{
            text-align: center;
            margin: 0px 0px 50px;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.16;
        
        }
        
        .electricity-list {
            display: flex;
            margin: 0 auto;
        }
        
        .thumb {
            width: 370px;
            height: 294px;
            position: relative;
        }
        
        .electricity-img{
            object-position: 100%;
        }
        
        .electricity-list-item:nth-child(-n+2){
            margin-right: 30px;
        
        }
        
        .label {
            position: absolute;
            width: 370px;
            height: 70px;
            bottom: 0;
            text-align: center;
            padding-top: 27px;
            background: rgba(47, 48, 58, 0.80);
            color: #FFF;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.42px;
            text-transform: uppercase;
            animation: b 2s ease-in 1s infinite alternate;
        }

        @keyframes b {
            0% {
                box-shadow: 1px 5px 18px 0px rgba(0, 0, 0, 0.75);

                -webkit-box-shadow: 1px 5px 18px 0px rgba(0, 0, 0, 0.75);

                -moz-box-shadow: 1px 5px 18px 0px   rgba(0, 0, 0, 0.75);
        
            }
        
            100% {
            box-shadow: 1px 5px 18px 20px rgba(0, 0, 0, 0.75);

                               -webkit-box-shadow: 1px 5px 18px 20px rgba(0, 0, 0, 0.75);

                -moz-box-shadow: 1px 5px 18px 20px rgba(0, 0, 0, 0.75);
            }
        }